.header {
    grid-area: header;
    background-color: green;
}

.header img {
    width: 50px;
}

.small img {
    width: 30px;
}

.loginBlock{
    float: right;
}

.loginBlock a {
    color: white;
}