.dialogs {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .dialog {

}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message .message {
    color: white;
}

.messages {

}
